war/LocationInformationService_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="doubleArray" final="#all">
    <xs:sequence>
      <xs:element name="key" type="xs:Key" minOccurs="0"/>
      <xs:element name="item" type="xs:double" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

