war/SInverterService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://server.solar.anonymous.com/" name="SInverterService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.solar.anonymous.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.solar.anonymous.com/" schemaLocation="SInverterService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getInverters">
    <part name="parameters" element="tns:getInverters"/>
  </message>
  <message name="getInvertersResponse">
    <part name="parameters" element="tns:getInvertersResponse"/>
  </message>
  <message name="insertInverter">
    <part name="parameters" element="tns:insertInverter"/>
  </message>
  <message name="insertInverterResponse">
    <part name="parameters" element="tns:insertInverterResponse"/>
  </message>
  <message name="removeInverter">
    <part name="parameters" element="tns:removeInverter"/>
  </message>
  <message name="removeInverterResponse">
    <part name="parameters" element="tns:removeInverterResponse"/>
  </message>
  <portType name="SInverter">
    <operation name="getInverters">
      <input message="tns:getInverters"/>
      <output message="tns:getInvertersResponse"/>
    </operation>
    <operation name="insertInverter">
      <input message="tns:insertInverter"/>
      <output message="tns:insertInverterResponse"/>
    </operation>
    <operation name="removeInverter">
      <input message="tns:removeInverter"/>
      <output message="tns:removeInverterResponse"/>
    </operation>
  </portType>
  <binding name="SInverterPortBinding" type="tns:SInverter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getInverters">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertInverter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeInverter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SInverterService">
    <port name="SInverterPort" binding="tns:SInverterPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

