war/SolarCalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://server.solar.anonymous.com/" name="SolarCalculatorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://server.solar.anonymous.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.solar.anonymous.com/" schemaLocation="SolarCalculatorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="calculateYearlySavingsOverTime">
    <part name="parameters" element="tns:calculateYearlySavingsOverTime"/>
  </message>
  <message name="calculateYearlySavingsOverTimeResponse">
    <part name="parameters" element="tns:calculateYearlySavingsOverTimeResponse"/>
  </message>
  <message name="calculateDailySavings">
    <part name="parameters" element="tns:calculateDailySavings"/>
  </message>
  <message name="calculateDailySavingsResponse">
    <part name="parameters" element="tns:calculateDailySavingsResponse"/>
  </message>
  <message name="calculateYearlySavings">
    <part name="parameters" element="tns:calculateYearlySavings"/>
  </message>
  <message name="calculateYearlySavingsResponse">
    <part name="parameters" element="tns:calculateYearlySavingsResponse"/>
  </message>
  <portType name="SolarCalculator">
    <operation name="calculateYearlySavingsOverTime">
      <input wsam:Action="http://server.solar.anonymous.com/SolarCalculator/calculateYearlySavingsOverTimeRequest" message="tns:calculateYearlySavingsOverTime"/>
      <output wsam:Action="http://server.solar.anonymous.com/SolarCalculator/calculateYearlySavingsOverTimeResponse" message="tns:calculateYearlySavingsOverTimeResponse"/>
    </operation>
    <operation name="calculateDailySavings">
      <input wsam:Action="http://server.solar.anonymous.com/SolarCalculator/calculateDailySavingsRequest" message="tns:calculateDailySavings"/>
      <output wsam:Action="http://server.solar.anonymous.com/SolarCalculator/calculateDailySavingsResponse" message="tns:calculateDailySavingsResponse"/>
    </operation>
    <operation name="calculateYearlySavings">
      <input wsam:Action="http://server.solar.anonymous.com/SolarCalculator/calculateYearlySavingsRequest" message="tns:calculateYearlySavings"/>
      <output wsam:Action="http://server.solar.anonymous.com/SolarCalculator/calculateYearlySavingsResponse" message="tns:calculateYearlySavingsResponse"/>
    </operation>
  </portType>
  <binding name="SolarCalculatorPortBinding" type="tns:SolarCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="calculateYearlySavingsOverTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calculateDailySavings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calculateYearlySavings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SolarCalculatorService">
    <port name="SolarCalculatorPort" binding="tns:SolarCalculatorPortBinding">
      <soap:address location="anonymous-solarenergy.appspot.com/anonymous-solarenergy"/>
    </port>
  </service>
</definitions>

