war/SolarCalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6. -->
<definitions targetNamespace="http://server.solar.anonymous.com/" name="SolarCalculatorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.solar.anonymous.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.solar.anonymous.com/" schemaLocation="SolarCalculatorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="calculateAllResults">
    <part name="parameters" element="tns:calculateAllResults"/>
  </message>
  <message name="calculateAllResultsResponse">
    <part name="parameters" element="tns:calculateAllResultsResponse"/>
  </message>
  <message name="calculateDailySavings">
    <part name="parameters" element="tns:calculateDailySavings"/>
  </message>
  <message name="calculateDailySavingsResponse">
    <part name="parameters" element="tns:calculateDailySavingsResponse"/>
  </message>
  <message name="calculateMonthlySavings">
    <part name="parameters" element="tns:calculateMonthlySavings"/>
  </message>
  <message name="calculateMonthlySavingsResponse">
    <part name="parameters" element="tns:calculateMonthlySavingsResponse"/>
  </message>
  <message name="calculateYearlySavings">
    <part name="parameters" element="tns:calculateYearlySavings"/>
  </message>
  <message name="calculateYearlySavingsResponse">
    <part name="parameters" element="tns:calculateYearlySavingsResponse"/>
  </message>
  <message name="calculateYearlySavingsOverTime">
    <part name="parameters" element="tns:calculateYearlySavingsOverTime"/>
  </message>
  <message name="calculateYearlySavingsOverTimeResponse">
    <part name="parameters" element="tns:calculateYearlySavingsOverTimeResponse"/>
  </message>
  <portType name="SolarCalculator">
    <operation name="calculateAllResults">
      <input message="tns:calculateAllResults"/>
      <output message="tns:calculateAllResultsResponse"/>
    </operation>
    <operation name="calculateDailySavings">
      <input message="tns:calculateDailySavings"/>
      <output message="tns:calculateDailySavingsResponse"/>
    </operation>
    <operation name="calculateMonthlySavings">
      <input message="tns:calculateMonthlySavings"/>
      <output message="tns:calculateMonthlySavingsResponse"/>
    </operation>
    <operation name="calculateYearlySavings">
      <input message="tns:calculateYearlySavings"/>
      <output message="tns:calculateYearlySavingsResponse"/>
    </operation>
    <operation name="calculateYearlySavingsOverTime">
      <input message="tns:calculateYearlySavingsOverTime"/>
      <output message="tns:calculateYearlySavingsOverTimeResponse"/>
    </operation>
  </portType>
  <binding name="SolarCalculatorPortBinding" type="tns:SolarCalculator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="calculateAllResults">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calculateDailySavings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calculateMonthlySavings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calculateYearlySavings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="calculateYearlySavingsOverTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SolarCalculatorService">
    <port name="SolarCalculatorPort" binding="tns:SolarCalculatorPortBinding">
      <soap:address location="http://anonymous-solarenergy.appspot.com/SolarCalculatorService"/>
    </port>
  </service>
</definitions>

