war/TRateService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://server.solar.anonymous.com/" name="TRateService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.solar.anonymous.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://server.solar.anonymous.com/" schemaLocation="TRateService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getTariffRates">
    <part name="parameters" element="tns:getTariffRates"/>
  </message>
  <message name="getTariffRatesResponse">
    <part name="parameters" element="tns:getTariffRatesResponse"/>
  </message>
  <message name="insertTariffRate">
    <part name="parameters" element="tns:insertTariffRate"/>
  </message>
  <message name="insertTariffRateResponse">
    <part name="parameters" element="tns:insertTariffRateResponse"/>
  </message>
  <message name="removeTariffRate">
    <part name="parameters" element="tns:removeTariffRate"/>
  </message>
  <message name="removeTariffRateResponse">
    <part name="parameters" element="tns:removeTariffRateResponse"/>
  </message>
  <portType name="TRate">
    <operation name="getTariffRates">
      <input message="tns:getTariffRates"/>
      <output message="tns:getTariffRatesResponse"/>
    </operation>
    <operation name="insertTariffRate">
      <input message="tns:insertTariffRate"/>
      <output message="tns:insertTariffRateResponse"/>
    </operation>
    <operation name="removeTariffRate">
      <input message="tns:removeTariffRate"/>
      <output message="tns:removeTariffRateResponse"/>
    </operation>
  </portType>
  <binding name="TRatePortBinding" type="tns:TRate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getTariffRates">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="insertTariffRate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeTariffRate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="TRateService">
    <port name="TRatePort" binding="tns:TRatePortBinding">
      <soap:address location="http://anonymous-solarenergy.appspot.com/TRateService"/>
    </port>
  </service>
</definitions>

